<%= stylesheet_link_tag "userform" %>

<div class="prompt-container">
  <%= link_to "Back", :back, id:"back-button" %>

  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <div id="form-box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, id:"form-title" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"entry-box" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :username, id:"form-title" %><br>
        <%= f.text_field :username, class:"entry-box" %>
      </div>

      <div class="field">
        <%= f.label :password, id:"form-title" %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"entry-box" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, id:"form-title" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"entry-box" %>
      </div>

      <div class="field">
        <%= f.label :current_password, id:"form-title" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"entry-box" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", id:"sign-in-button" %>
      </div>
    <% end %>

    <div><h1>Unhappy?</h1> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, id:"cancel-account-button" %></div>
  </div>
</div>