<%= stylesheet_link_tag "userform" %>

<div class="prompt-container">
  <h1 id="prompt-title">New User Account</h1>

  <div id="form-box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :email, id:"form-title" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"entry-box" %>
      </div>

      <div class="field">
        <%= f.label :username, id:"form-title" %><br />
        <%= f.text_field :username, autofocus: true, class:"entry-box" %>
      </div>

      <div class="field">
        <%= f.label :password, id:"form-title" %>
        <% if @minimum_password_length %>
        <em id="form-title" >(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"entry-box" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, id:"form-title" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"entry-box" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", id:"sign-up-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>