<nav>
    <label><%= link_to "Blog", root_path, class: "logo"%></label>
    <ul>
        <li>
            <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li>
            <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li>
            <%= link_to "Blogs", posts_path, class: "nav-link" %>
        </li>
        <li>
            <%= link_to "Create New Blog", new_post_path, class: "nav-link" %>
        </li>
    </ul>
</nav>