<%= stylesheet_link_tag "postform" %>
<%= stylesheet_link_tag "post" %>
<%= stylesheet_link_tag "viewpost" %>

<%= form_with(model: post) do |form| %>

  <div class="post-container">
      <div class="button-container">
        <%= link_to "Back to posts", posts_path, id:"back-button" %>
        <% if request.original_fullpath != "/posts/new" %>
          <%= link_to "Show post", @post, id:"edit-button" %>
        <% end %>
      </div>
    <div>
      <%= form.text_field :title, class: "text-box", placeholder: "Give your story a title...", id: "form-title", autocomplete: "off", rows:1 %>
    </div>

    <div>
      <%= form.text_area :description, class: "text-box", placeholder: "Say what's on your mind...", id: "form-description", autocomplete: "off" %>
    </div>
    <% if request.original_fullpath == "/posts/new" %>
      <div>
        <%= form.submit value:"Post", id:"form-submit" %>
      </div>
    <% else %>
      <div>
        <%= form.submit value:"Update", id:"form-submit" %>
      </div>
    <% end %>
  </div>
  
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>